/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 100px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* IMPORTANDO FUENTES */

@font-face
{
    font-family: "Manrope-ExtraBold";
    src: url("../assets/fonts/Manrope/Manrope-ExtraBold.ttf");
}

@font-face
{
    font-family: "Manrope-Regular";
    src: url("../assets/fonts/Manrope/Manrope-Regular.ttf");
}
@font-face
{
    font-family: "Manrope-Bold";
    src: url("../assets/fonts/Manrope/Manrope-Bold.ttf");
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    overflow: hidden;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 0;
	animation: moverIzquierda 1s ease-in;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
	background-color: #2B3648;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
	animation: moverIzquierda 1s ease-in;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
	animation: moverDerecha 1s ease-in;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	font-family: "Manrope-ExtraBold";
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}
.login-content .register{
	animation: arriba 1s ease-in;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 14px;
	transition: .3s;
	font-family: "Manrope-Bold";
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #00D2FF;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #00D2FF;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: "Manrope-Bold";
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: white;
	font-size: 0.8rem;
	transition: .3s;
	position: relative;
	font-family: "Manrope-ExtraBold";

}

a:hover{
	color: #00D2FF;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #3a47d5, #38d39f, #00D2FF);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: "Manrope-ExtraBold";
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	position: relative;
}
.btn:hover{
	background-position: right;
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes abajo{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}